In [2]:
#This function attempts to calculate the factorial of a number
def fact(n):
    if(n == 0 or n == 1):
        return 1
    else:
        return(n * fact(n-1))

In [4]:
fact(10)

3628800

In [6]:
fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [4]:
#This function attempts to return the nth fibonacci number
def fibo(n):
    if(n <= 0):
        return None
    elif(n == 2):
        return 1
    else:
        return(fibo(n-1)+fibo(n-2))

In [3]:
fibo(10)

55

In [12]:
fibo(12)

144

In [15]:
#This function attempts to calculate the sum of numbers in a list
def list_sum(n):
    if(len(n)==0):
        return 0
    else:
        return(n[0]+list_sum(n[1:]))

In [17]:
list_sum([1,2,3,4,5])

15

In [18]:
list_sum([2,3,4,1,9])

19

In [20]:
#This function attempts to calculate the maximum number in a list
def max_list(n):
    if(len(n)==0):
        return None
    elif(len(n)==1):
        return n[0]
    else:
        return max(n[0], max_list(n[1:]))

In [21]:
max_list([1, 2, 3, 4, 5, 6, 7, 8, 101])

101

In [22]:
max_list([101, 101, 102, 102])

102

In [23]:
#This function attempts to calculate the nth power of m
def power_calc(m, n):
    if(n == 0):
        return 1
    elif(n == 1):
        return m
    else:
        return(m * power_calc(m, n-1))

In [24]:
power_calc(4, 5)

1024

In [25]:
power_calc(2, 6)

64

In [26]:
#This function checks if a string is a pallindrome
def is_pallindrome(s):
    if(len(s) <= 0):
        return True
    else:
        return (s[0]==s[len(s)-1] and is_pallindrome(s[1:len(s)-1]))

In [27]:
is_pallindrome("naman")

True

In [28]:
is_pallindrome("biscuit")

False

In [29]:
#This function attempts to compute the sum of natural numbers using recursion
def nat_sum(n):
    if(n == 1):
        return 1
    else:
        return(n + nat_sum(n-1))

In [30]:
nat_sum(100)

5050

In [31]:
nat_sum(10)

55

In [33]:
#This function attempts to play the "Towers of Hanoi" game. 
#It demonstrates how to win the game based on the number of disks on the first pole.
#Ideally, it takes 2^n - 1 moves to win the game
def tow_of_hanoi(n, source, temppole, destpole):
    if(n > 0):
        tow_of_hanoi(n-1, source, temppole, destpole)
        print("Move disc from", source, "to", destpole)
        tow_of_hanoi(n-1, temppole, source, destpole)

In [34]:
tow_of_hanoi(4, "Pole 1", "Pole 2", "Pole 3")

Move disc from Pole 1 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3

In [35]:
tow_of_hanoi(3, "Pole 1", "Pole 2", "Pole 3")

Move disc from Pole 1 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 1 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 2 to Pole 3
Move disc from Pole 1 to Pole 3